.parent { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 60px;
}
.categories {
    display: flex;
    gap: 50px;
    color: lightgreen
}