* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(90deg, #2563eb, #4fd1c5);
}

.navbar {
    background: linear-gradient(90deg, #2563eb, #4fd1c5);
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 { font-size: 20px;}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.white-grid {
    background: #C5C6C5;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

.grid:nth-child(8) {
    grid-column-start: 1;
    grid-column-end: 4;
}
.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h3 {
    height: 40px;          /* force equal title height */
    line-height: 1.2;
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}

.card button {
    margin-top: auto;  
    background: #333;
    color: #6F716E;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.class img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
}   

.card img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
}

.img-box {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.price {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

.desc button {
    background: #333;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius:  5px;
    cursor: pointer;
}




