* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    body { font-family: Arial, Helvetica, sans-serif; }
}

body {
    min-height: 100vh; 
    background: linear-gradient(90deg, #2563eb, #4fd1c5);
}

/* Navbar styles */

.navbar {
    background: linear-gradient(90deg, #2563eb, #4fd1c5);
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 { font-size: 20px;}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
}

.navbar a:hover {
    background: linear-gradient(325deg, black ,white);
    color: black;
}

.active {
    background: linear-gradient(325deg, black ,white);
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar ul {
        float: none;
        display: block;
    }
}
/* Slideshow container */

.slideshow-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.slidewhite-grid {
    background: #C5C6C5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}

.img_Slides {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.img_Slides img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #C5C6C5;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: linear-gradient(90deg, #2563eb, #4fd1c5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background: linear-gradient(85deg, white, black);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    
}

@media only screen and (max-width: 600px) {
    .prev, .next, .text {font-size: 11px}
}
 /* container for grid of cards */

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
    display: grid;
    place-items: center;
}
/* white grid background */
.white-grid {
    background: #C5C6C5;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
}
/* individual card styles */
.card {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating, .price {
    font-size: 14px;
    margin-bottom: 6px;
}
.card h3 {
    font-size: 18px;
    line-height: 1.3;
    margin: 8px 0 6px;

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card button {
    margin-top: auto;  
    background: #333;
    color: #6F716E;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
}

.button:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}

.card img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
}

/* class for images inside card */
.class img {
    width: 100%;
    max-width: 180px;
    object-fit: contain;
}   



.img-box {
    max-width: 100%;
    max-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.price {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}






